.listitem {
  flex: 0 0 200px;
  background: #fff;
  scroll-snap-align: start;
}

.listitem::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(ellipse farthest-side at 0 100%, #2c3e50, transparent);
  background-size: 150% 150%;
  background-position: 0 0;
  top: 0;
  left: 0;
  transition: all .2s;
  z-index: 1;
}

.listitem:hover::before {
  content: none;
}

.listitem:hover .listitem__name {
  display: none;
}

.listitem__overlay {
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.25s;
}

.listitem__overlay > * {
  transform: translateY(100px);
  transition: transform 0.25s;
}

.listitem__overlay:hover > * {
  transform: translateY(0);
}
