.list__notfirst {
  background: #111;
}

.big__list {
  flex: 0 0 100%;
}

.list__posters {
  scroll-padding-left: 10px;
  scroll-snap-type: x mandatory;
  -webkit-mask-image: linear-gradient(90deg, #111 80%, transparent);
  mask-image: linear-gradient(90deg, #111 80%, transparent);
}

.list__posters::-webkit-scrollbar {
  display: none;
}
